<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/FRONT/images/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a>
            <img class="avatar border-gray" src="assets/FRONT/images/mike.jpg" alt="...">
            <h5 class="title">{{userDto.username}}</h5>
          </a>
        </div>
        <p class="description text-center">
          "I like the way you work it
          <br> No diggity
          <br> I wanna bag it up"
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>12
                <br>
                <small>Likes</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>23
                <br>
                <small>Following</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>24
                <br>
                <small>Followers</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Team Members</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/FRONT/images/faces/ayo-ogunseinde-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                DJ Khaled
                <br />
                <span class="text-muted">
                  <small>Offline</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/FRONT/images/faces/joe-gardner-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                Creative Tim
                <br />
                <span class="text-success">
                  <small>Available</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/FRONT/images/faces/clem-onojeghuo-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-ms-7 col-7">
                Flume
                <br />
                <span class="text-danger">
                  <small>Busy</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>User Name :</label>
                <textarea class="form-control textarea">{{userDto.username}}</textarea>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Email address</label>
                <textarea class="form-control textarea">{{userDto.email}}</textarea>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Phone Number</label>
                <textarea class="form-control textarea">{{userDto.phoneNumber}}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Country</label>
                <textarea class="form-control textarea">{{userDto.country}}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Carrier</label>
                <textarea class="form-control textarea">{{userDto.carrier}}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Objectif</label>
                <textarea class="form-control textarea">{{userDto.Objectif}}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" (click)="edit(userDto)" class="btn btn-primary btn-round">Update Profile</button>
              <button type="submit" (click)="delete()" class="btn btn-primary btn-icon">Delete your Profile</button>

            </div>
            <div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>